Please sign in.

<form method="post" action="/users/session">
  Email: <input type="text" name='email'>
  Password: <input type="password" name='password'>
  <input type="submit" value="Sign in">
</form>


  <form method="post" action="/session/forgot_login">
  	 <input type="text" name='forgot_email' placeholder:"Email">
	</form>
  	<input type="submit" value="Reset">
  </form>