<form action="/users" method="post">
	<input name="email" type="text" placeholder="Email" value="<%= @user.email %>">
	<input name="password" type="password" placeholder="password">
	<input name="password_confirmation" type="password" placeholder="password_confirmation">
	<input name="name" type="text" placeholder="Name" value="<%= @user.name %>">
	<input name="username" type="text" placeholder="Username" value="<%= @user.username%>">
	<input name="signup" type="submit" value="Sign Up!">
</form>	



