<h1> Welcome to Chitter! The site to get anti-social! </h1>

<form action="/users/new" method="get">
    <input type="submit" value="Sign up!">
</form>

<form action="/session/new" method="get">
    <input type="submit" value="Sign in!">
</form>
